body{
    background-color: rgb(174, 137, 209);
}
div{
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
    width: 200px;
    height: 200px;
    border: 25px solid blueviolet;
    text-align:center;
}

a{
    color: white;
}

button{
    width: 80px;
    height: 30px;
    border-radius: 6px;
    color:white;
    background-color: rgb(155, 94, 212);
}