.cafe{
    padding-left: 150px;
    padding-right: 120px;
    width: 80%;

}
img{
    padding-left: 35%;
}
.page-tit{
    padding-left: 150px;
    padding-right: 120px;
}
.about{
    width: 34%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}
.menu{
    width: 34%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}
.find-us{
    width: 34%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}
input{
    padding:16px ;
    width: 235px;
}
.send-btn{
    
    background: #000;
    color: #eee;
    width: 15%;
    border-radius: 5px;
    padding: 12px;
}
 .fy {
    background-color: #000;
    color: #eee;
}
.form{
    margin: 10px 50px;
    padding: 10px 50px;
}
.place{
    margin: 0px 50px;
    width: 45%;
}